.background{
    background-color: hsl(212, 45%, 89%);

}

.card{
    background-color: hsl(0, 0%, 100%);
    width: 20%;
    position: relative;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.1), 0 2px 20px 2px rgba(0, 0, 0, 0.12);
}

img{
    border-radius: 10px;
}

img{
    position: relative;
    height: 50%;
    width: 100%;
    

}

.discription{
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

p{
    font-size: 12px;
    font-family: "Outfit", sans-serif;
    margin: 0px 0px;
}

h4{
    margin: 0px 0px;
    font-family: "Outfit", sans-serif;
}


/*# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700
*/
